In [ ]:
#1)Create a python program to sort the given list of tuples based on integer value using a
#  lambda function.
#  [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [16]:
tuple1 = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

tuple1.sort(key=lambda x: x[1]) 
print(tuple1)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [ ]:
#2)Write a Python Program to find the squares of all the numbers in the given list of integers using
#lambda and map functions.
#[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
l1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
list(map(lambda x : x**2 ,l1))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#3) Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions
#   Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#   Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [17]:
l1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
tuple(map(lambda x: str(x), l1))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [19]:
#4) Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

In [26]:
from functools import reduce

l = list(range(1, 26))
reduce(lambda x,y:x*y ,l)

15511210043330985984000000

In [29]:
#5) Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.
#   [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [31]:
l = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
list(filter(lambda x: x%2==0 and x%3==0,l))

[6, 60, 90, 120]

In [ ]:
#6) Write a python program to find palindromes in the given list of strings using lambda and filter function.
#   ['python', 'php', 'aba', 'radar', 'level']

In [41]:
l=['python', 'php', 'aba', 'radar', 'level']
reverse=reversed(l)
count=0
if list(l) == list(reverse):
    count= count+1
    
print(count)

0

In [39]:
count=0
if (l == reverse):
    count= count+1
    
print(count)

0